---
import Title from "./Title.astro";
import DataCard from "./DataCard.astro";

import type { IItem } from "@esri/arcgis-rest-portal";

interface Props {
  dataItems: IItem[];
}
const { dataItems } = Astro.props as Props;
const { category } = Astro.params;
---

<section
  class="p-4 flex-1 sm:ml-[64] gap-5 flex flex-col items-center overflow-auto"
>
  <Title>{category}</Title>
  {dataItems.map((item) => <DataCard dataItem={item} />)}
</section>
