---
import Title from "./Title.astro";
import DataCard from "./DataCard.astro";
import { getActiveCatogory } from "../stores/appState";
import { getCategoryLabel } from "../utility/utilityFunctions";

import type { IItem } from "@esri/arcgis-rest-portal";

interface Props {
  dataItems: IItem[];
}
const { dataItems } = Astro.props as Props;
const title = getCategoryLabel((await getActiveCatogory()) ?? "");
---

<section
  class="p-4 flex-1 sm:ml-[64] gap-5 flex flex-col items-center overflow-auto"
>
  <Title>{title}</Title>
  {dataItems.map((item) => <DataCard dataItem={item} />)}
</section>
