---
import Container from "./Container.astro";
---

<footer class="bg-primary-800">
  <Container>
    <div class="py-2 flex items-center justify-between">
      <span class="text-sm text-primary-350 sm:text-center"
        ><a href="/" class="font-bold line-clamp-1 hover:text-primary-300"
          >Bhutan NSDI System</a
        >
      </span>
      <ul
        class="flex items-center text-sm font-medium text-primary-500 dark:text-gray-400 space-x-6"
      >
        <li>
          <a href="#" class="hover:text-primary-350">FAQ</a>
        </li>

        <li>
          <a href="#" class="hover:text-primary-350">About</a>
        </li>

        <li>
          <a href="#" class="hover:text-primary-350">Contact</a>
        </li>
      </ul>
    </div>
  </Container>
</footer>
